
.banner {
    margin-bottom: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
    

    @media only screen and (min-width: 320px) and (max-width: 768px) {
       
        gap: 22px;
    }

    img {
    width: 100%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(45%);
    display: block;
    margin: 0 auto;
    }

    @media only screen and (min-width: 320px) and (max-width: 768px) {
       
        img{
            height:111px;
            
        }
    }
}

.bannerTitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%; 
    transform: translateY(-50%); 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 48px;
    color: white;
    z-index: 4;
}

    @media only screen and (min-width: 320px) and (max-width: 768px) {

        .bannerTitle{
        font-size: 24px;
        }

        .Bannerfirst{
        position: absolute;
        bottom: 50%;
        left: 5%;
        }

        .Bannersecond{
        position: absolute;
        top: 35%;
        left: 5%;
        }
        
    }






/*.banner{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    max-width: 1240px;

}

.banner img{
    width:100%;
    max-width:1440px;
    height:223px;
    object-fit: cover;
    border-radius:25px;
    filter: brightness(45%);
    display:block;
    position:relative;
    margin: 0 auto;

}

.bannerTitle{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    font-size:48px;
    color:white;

}*/
