.host {
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:10px;
  
    .name-host {
      font-size: 18px;
      color: #FF6060;
      margin-right: 10px;
    }

    .Host-rating{
      display:none;
    }
  
    img {
      border-radius: 45px;
      width: 64px;
      height: 64px;
      object-fit: cover;
    }
  
    &-2 {
      display: none;
    }
  
    /* Media Queries pour les écrans entre 320px et 768px */
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      & {
        display: none;
      }
  
      &-2 {

        align-content: flex-end;
        flex-wrap: nowrap;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
      }

      .name-host{
        font-size:12px;
        font-weight:500;
      }

      
    }
  }
  