.tags-container{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap:5px;
}


.tag{
    border-radius: 10px;
    border: solid 1px;
    padding: 8px;
    background-color: #FF6060;
    color:white;
    font-weight: bold;
    font-size:14px;
    height: 25px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.flatTagStars{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:-20px;
    margin-bottom:10px;
    
    
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .tag{
        border-radius:5px;
        margin-left:0px;
        padding:5px;
        display:flex;
        font-size:10px;

    }

    .flatTagStars{
        margin-bottom:0px;
    }
}


