#root{
  font-family: 'Montserrat';
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.banner-homepage{
  height:223px;
  border-radius:25px;
  min-width:1440px;
  position:absolute;
  
}

header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 1240px;
    padding-top: 40px;
    width: 100%;
  
}
.h1{
  position: relative;
  right: 15%;
}

.Navbar{
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: bold;
  gap: 30px;
  display: flex;
  color: black;
  font-size:24px;
}

.Navbar a{
  font-weight: bold;
  color: black;
  text-decoration: inherit;
}



