.apropos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bannerfooter{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 768px) { 
    .Bannerfooter{
        width:100%
    }
}
.Bannerfooter img{
    width:80%;
    height:223px;
    object-fit: cover;
    border-radius:25px;

}

@media only screen and (min-width: 320px) and (max-width: 768px) { 
    .Bannerfooter img {
    width: 335px;
    height: 111px;
    }
    .collapse-apropos{
    width: 100%;
    max-width: 1240px;
    }
}