.apropos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bannerfooter{
    margin-bottom: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.Bannerfooter img{
    width:80%;
    height:223px;
    object-fit: cover;
    border-radius:25px;

}

@media only screen and (min-width: 320px) and (max-width: 768px) { 
    .Bannerfooter img {
    min-width: 335px;
    min-height: 111px;
    }
}