.banner img{
    width:1240px;
    height:223px;
    object-fit: cover;
    border-radius:25px;

}

.bannerTitle{
    position: absolute;
    top: 22%;
    left: 32%;
    right: 32%;
    color:white;
    font-size:48px;
    font-weight:700;
}
