.btn-collapse{
width: 582px;
height:52px;
border-radius:  10px;
color:white;
background-color: #FF6060;
border:solid;
}

//.collapse-menu{
 
    
//

.collapse-content{
background-color: #f6f6f6;
margin-top: -19px;
border-radius: 0px 0px 10px 10px;
width: 582px;
align-items: center;
display: flex;
justify-content: space-between;

height: 249px;

}

.allCollapse{
    display: flex;
    gap:76px;
    margin-bottom:25px;
}