.Navbar{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight:200;
    gap: 45px;
    display: flex;
    color: black;
    font-size:24px;
}

  header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 1240px;
    padding-top: 45px;
    width: 100%;
}

.Navbar a{
    font-weight: bold;
    color: black;
    text-decoration: inherit;
  }