
.homepage {
   
    width: 1240px;
    height: auto;
    border-radius: 25px;
    margin:auto;

    .logements-grid {
   
    padding: 56px 10px 56px 10px;
    background-color: #f6f6f6;
    justify-items: center;
    grid-column-gap: 60px;
    grid-row-gap: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f6f6f6;
    border-radius: 25px;
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 100%;
    }

   

    .logement-card {
      img {
        height: 340px;
        width: 100%;
        border-radius: 10px;
      }
    }
    .logement-title {
    
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 70%;
    margin-top: -55px;
    margin-left: 10px;
    text-decoration: none;
    }
  }

  .card{
    height: 340px;
    width: 100%;
  }