.host{
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.host-name{
    font-size:18px;
    color:#FF6060;
    margin-right:10px;
}

.host img{
    border-radius: 45px;
    width:64px;
    height: 64px;
    object-fit: cover;

}

.host-2{
    display:none;
}
