@media only screen and (max-width: 768px) {
.homepage{
    .logements-grid{
        display:grid;
        grid-template-columns: 1fr;
    }
        
}


.header {
    flex-direction: column; 
    align-items: center; 
  }

.nav a {
    margin: 10px 0; 
    text-transform: capitalize;
  }

  .logement-card img{
    height:255px;
  }

  .card{
    height:255px;
  }
    
}