.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
    
.slider img{
    width:1240px;
    height:415px;
    object-fit: cover;
    border-radius:25px;
}

/*.ChevronLeft,
.ChevronRight {
    width: 46px;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    color:white;
    position: absolute;
    right: 20%;
}*/

.ChevronRight,.ChevronLeft{
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    color:white;
    position: absolute;
    font-size: 46px;

}

.ChevronRight{
    right: 30%; 
}


.ChevronLeft{
    left: 30%;
   
}
    


