@charset "UTF-8";
* {
  box-sizing: border-box;
}

#root {
  font-family: "Montserrat";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat,sans-serif";
}

a {
  text-decoration: none;
  color: black;
}

.apropos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Bannerfooter {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .Bannerfooter {
    width: 100%;
  }
}
.Bannerfooter img {
  width: 80%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .Bannerfooter img {
    width: 335px;
    height: 111px;
  }
  .Collapse-apropos {
    width: 100%;
    max-width: 1240px;
  }
}
.banner {
  margin-bottom: 50px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner {
    gap: 22px;
  }
}
.banner img {
  width: 100%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  filter: brightness(45%);
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner img {
    height: 111px;
  }
}

.bannerTitle {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  z-index: 4;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .bannerTitle {
    font-size: 24px;
    left: 5%;
  }
}

/*.banner{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    max-width: 1240px;

}

.banner img{
    width:100%;
    max-width:1440px;
    height:223px;
    object-fit: cover;
    border-radius:25px;
    filter: brightness(45%);
    display:block;
    position:relative;
    margin: 0 auto;

}

.bannerTitle{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    font-size:48px;
    color:white;

}*/
.btn-collapse {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  color: white;
  background-color: #FF6060;
  border: solid;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.custom-button-class {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  color: white;
  background-color: #FF6060;
  border: solid;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.collapse-content {
  background-color: #f6f6f6;
  margin-top: -30px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 118px;
  margin-bottom: 10px;
}

.allCollapse {
  display: flex;
  gap: 76px;
  margin-bottom: 25px;
}

.collapse-menu {
  width: 100%;
}

/* Media Queries pour les écrans entre 320px et 768px */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .collapse-menu {
    width: 100%;
  }
  .allCollapse {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .custom-button-class {
    font-size: 13px;
  }
  .collapse-content {
    font-size: 11px;
  }
  .Collapse-apropos {
    width: 100%;
    max-width: 1240px;
  }
}
.Logement {
  margin: auto;
  max-width: 1240px;
  width: 100%;
}
.Logement .flatInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 25px auto;
}
.Logement .FlatLocation {
  display: flex;
  flex-direction: column;
}
.Logement .logement-description {
  font-weight: 500;
  font-size: 36px;
  color: #FF6060;
}
.Logement .logement-location {
  font-size: 26px;
  font-weight: 500;
  margin-top: -3%;
}
.Logement .flatTagStars {
  display: flex;
  justify-content: space-between;
}
.Logement.card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .Logement .logement-description {
    font-size: 18px;
  }
  .Logement .logement-location {
    font-size: 14px;
  }
}

.Navbar {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 200;
  gap: 45px;
  display: flex;
  color: black;
  font-size: 24px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1240px;
  margin-top: 45px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  header header {
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    max-width: 425px;
    width: auto;
  }
}

.Navbar a {
  font-weight: bold;
  color: black;
  text-decoration: inherit;
}

.homepage {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.homepage .logements-grid {
  padding: 56px 20px;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  border-radius: 25px;
  margin: auto;
  width: 100%;
  width: calc(100% - 40px);
}
.homepage .Container-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.homepage .logement-card img {
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .homepage .logement-card img {
    height: 255px;
  }
}
.homepage .logement-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 70%;
  text-decoration: none;
}
.homepage .card {
  height: 340px;
  width: 100%;
}

.Error {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Error .title {
  font-size: 288px;
  font-weight: bold;
  margin-top: 139px;
  margin-bottom: 139px;
  color: #FF6060;
}
.Error .Subtitle {
  margin-bottom: 139px;
  font-size: 36px;
  color: #FF6060;
  font-weight: 500;
}
.Error .BackHomePage {
  margin-bottom: 139px;
  font-size: 18px;
  color: black;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .Error .title {
    font-size: 96px;
  }
  .Error .Subtitle {
    font-size: 18px;
    text-align: center;
  }
  .Error .BackHomePage {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
  }
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.slider img {
  border-radius: 25px;
  width: 100%;
  max-width: 1240px;
  max-height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ChevronRight, .ChevronLeft {
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  position: absolute;
  font-size: 46px;
}

.ChevronRight {
  right: 30%;
}

.ChevronLeft {
  left: 30%;
}

.image-counter {
  position: absolute;
  bottom: 10%;
  color: white;
  font-size: 18px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .ChevronLeft, .ChevronRight {
    width: 24px;
    height: 24px;
  }
  .ChevronLeft {
    left: 10%;
  }
  .ChevronRight {
    right: 10%;
  }
  .image-counter {
    top: 60%;
  }
}
.tags-container {
  margin-bottom: 20px;
}

.tag {
  border-radius: 20px;
  border: solid 1px;
  padding: 5px;
  background-color: #FF6060;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.flatTagStars {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -25px;
  margin-bottom: 10px;
}

.footer {
  height: auto;
  min-height: 209px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
}

.host {
  align-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  /* Media Queries pour les écrans entre 320px et 768px */
}
.host .name-host {
  font-size: 18px;
  color: #FF6060;
  margin-right: 10px;
}
.host .Host-rating {
  display: none;
}
.host img {
  border-radius: 45px;
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.host-2 {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .host {
    display: none;
  }
  .host-2 {
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .homepage .logements-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  header {
    flex-direction: row;
    align-items: center;
    width: 335px;
    width: auto;
  }
  .Navbar {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    gap: 26px;
    flex-direction: row;
    align-items: center;
  }
  .logement-card img {
    height: 255px;
  }
  .card {
    height: 255px;
  }
  .logoKasa {
    height: 46px;
    width: 145px;
    margin-right: 25px;
  }
  .collapse-apropos {
    width: 100%;
  }
  .logement-title {
    margin-top: -75px;
  }
}
.star-rating {
  display: flex;
}

.star {
  color: lightgray;
  font-size: 24px;
}

.star.filled {
  color: #FF6060;
}

.custom-rating-class {
  display: none;
}

/* Media Queries pour les écrans entre 320px et 768px */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .custom-rating-class {
    display: block;
  }
  .custom-rating {
    display: none;
  }
  .Host-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */